.col {
    padding:0px
}

.row > {
    padding: 0px !important;
}


.box-1 {
    height: 150px;
    width: 150px;
    background-color: blue;
    color: white;
    border: 5px solid grey;
}

.box-2 {
    height: 150px;
    width: 150px;
    background-color: yellow;
    color: black;
    border: 5px solid grey;
}

.box-3 {
    height: 150px;
    width: 150px;
    background-color: green;
    color: black;
    border: 5px solid grey;
}

.box-4 {
    height: 150px;
    width: 150px;
    background-color: red;
    color: black;
    border: 5px solid grey;
}

.box-5 {
    height: 150px;
    width: 150px;
    background-color: pink;
    color: black;
    border: 5px solid grey;

}

