.conatainer {
    width: 75%
    padding; 16px
    margin: auto;
    border: 5px solid black;

    paddimg: 16px;

    padding-top: 16px;
    paddimg-bottem: 16px;
    padding-left: 16px;
    padding right: 16px;


padding: 16px 16px 16px 16 px;
}

.box-1{
    color: coral;
}

.box-2{
    color:grey;
}


p{
    font-size: large;
}

body {
    background-color: lightgrey;

    font-family: Arial, Helvetica, sans-serif:
    font-size: 16px;
    font-weirght: noraml;
    line-height: 1.6em;
}

a{
    text-decoration: none;
    color: green;
    color: rgb (0, 0, 255)
}

.myForm {
    margin: 16px;
    padding 16px;
}

.myForm .for-group{
    margin-bottom: 16px;
}

.myform label {
    display: block;
}

.myform input[type="text"],
.myform input [type="email"] 
.myForm textarea {}
    width: 100%;
    padding: 8px;
}

.button {
    backgorund-colro: grey;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
}

.button:hover {
    cursor: pointer;
    background-color: lightgrey;
    color: black;
}


.flex-box{
    display:flex;
    fkex-wrap: wrap;
}

.flec-item {
    width:30%;
    margin: auto;
}

.card {
    border: 1px solod black;
    border-radius: 8px;
}

.card-hearder {
    padding: 16px;
    border-bottem: 1px solid black:
    background-color: aquamarine;
    color: white;
}

.card-content {
    background-color: white; 
}

.grid {
    display: frid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 5%;
}

.grid-item {
    margin: 16 px 0px;  
}

.color-gric{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.color-grid-item{
    height: 250px;
    display: flex;
    align-items: center;
    border: 5px solid grey;
}


.box-text{
    margin: auto;
}

.box-1 {
    background-color: blue;
    color: white;
}

.box-2 {
    background-color: yellow;
    color: black;
}

.box-1 {
    background-color: green;
    color: black;
}

.box-1 {
    background-color: red;
    color: black;
}

.box-1 {
    background-color: pink;
    color: black;


    grid-column: 2  / span 2;
}
